#contacts {
    display: inline-block;
    width  :500px;
}

#contact-form {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
}

form > div {
    margin: 10px 0px;
}

form > div > input, form > div > select {
    margin-left: 15px;
}

form > div > label {
    float: left;
    text-align: right;
    width:150px;
}
form button {
    margin-left: 164px;
    margin-top: 10px;
    border-radius: 5px;
}