<form name="editForm" class="form-horizontal" ng-submit="saveContact()">
    <div class="control-group" ng-class="{error: editForm.nom.$invalid}">
        <label class="control-label">Nom :</label>
        <div class="controls">
            <input type="text" name="nom" ng-model="contact.nom" required>
            <p class="help-inline" ng-show="editForm.nom.$error.required">Ce champ est requis.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Groupe:</label>
        <div class="controls">
            <select ng-model="contact.groupe" name="groupe">
                <option value="Ami">Ami</option>
                <option value="Famille">Famille</option>
                <option value="Travail">Travail</option>
            </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: editForm.mobile.$invalid}">
        <label class="control-label">Mobile: </label>
        <div class="controls">
            <input type="text" name="mobile" ng-model="contact.mobile" ng-maxlength="10" ng-pattern="/^[0-9]+$/">
            <p class="help-inline" ng-show="editForm.mobile.$error.maxlength">Ce numéro contient trop de chiffres.</p>
            <p class="help-inline" ng-show="editForm.mobile.$error.pattern">Le numéro ne doit pas contenir de lettres.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Adresse: </label>
        <div class="controls">
            <input type="text" name="adresse" ng-model="contact.adresse">
        </div>
    </div>
    <div class="form-actions">
        <a class="btn" ng-href="#/list">Retour</a>
        <input type="submit" class="btn btn-success" ng-disabled="editForm.$invalid" value="Enregistrer"/>
    </div>
</form>
