<!DOCTYPE HTML>
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="charset=utf-8">
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Mon carnet d'adresses</title>
</head>
<body>
<ng-include src="'templates/header.html'"></ng-include>
<div id="contacts-panel" ng-controller="ContactListCtrl">
    <h2>Mon carnet d'adresses ({{contacts.length}} contacts)</h2>
    <div>
        <label>Présentation : </label>
        <select ng-model="mode">
            <option value="table">Tableau</option>
            <option value="vignette">Vignette</option>
        </select>
    </div>
    <ul>
        <li ng-repeat="contact in contacts">
            <div ng-switch on="mode" >
                <div ng-switch-when="table">
                    <ng-include src="'templates/contactInfoTable.html'"></ng-include>
                </div>
                <span ng-switch-when="vignette">
                     <ng-include src="'templates/contactInfo.html'"></ng-include>
                </span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>